#eventModal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	justify-content: center;
	align-items: center;
}

/* 모달 내용 */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 500px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	animation: fadeIn 0.5s;
}

/* 애니메이션 */
@keyframes fadeIn {from { opacity:0;
	
}

to {
	opacity: 1;
}

}

/* 입력 필드 스타일 */
input[type="text"], input[type="color"] {
	width: 100%;
	padding: 10px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
}

/* 버튼 스타일 */
.modal-button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	margin: 10px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	text-align: center;
}

.modal-button:hover {
	background-color: #45a049;
}

.modal-close-button {
	background-color: #f44336;
	color: white;
	padding: 10px 20px;
	margin: 10px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	text-align: center;
}

.modal-close-button:hover {
	background-color: #da190b;
}

.modal-delete-button {
	background-color: #ff9800;
	color: white;
	padding: 10px 20px;
	margin: 10px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	text-align: center;
	display: none;
}

.modal-delete-button:hover {
	background-color: #e68900;
}