
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 550px;
}

.logo img {
    width: 100px;
    height: auto;
}


.main-content {
    flex: 1;
    background-image: url('배경1.png'); 
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
    color: rgb(255, 255, 255);
}

.content h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.login-button {
    padding: 18px 36px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: bolder;
    border-radius: 5px;
}


footer {
    text-align: center;
    padding: 10px 0;
    background-color: #a8e4f3;
    border-top: 1px solid #ffffff;
}

footer p {
    margin: 5px 0;
}
