body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.header {
    background-color: #90caf9;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header .logo {
    height: 60px;
}

.header nav {
    display: flex;
    gap: 20px;
}

.header nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
}

.header nav a:hover, .header nav a:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

/* 블록1 */
.block1 {
    background-color: #333;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-button {
    background-color: #1d62e0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #0b47a1;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input[type="text"] {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 300px;
}

.search-bar button {
    background-color: #1d62e0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

/* 블록2 */
.block2 {
    padding: 20px;
    background-color: white;
    min-height: 570px; /* 블록2 높이를 고정 */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead th {
    background-color: #90caf9;
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
}

table tbody td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.block3 {
    background-color: #333;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


/* 푸터바 */
.footer {
    background-color: #90caf9;
    padding: 20px;
    text-align: center;
    color: #333;
    position: fixed;
    width: 100%;
    bottom: 0;
}
